@import "tailwindcss";

@theme {
  --color-surface_page: #e6e6e6;
  --color-surface_primary: #ffffff;
  --shadow-soft-lg: "0px 4px 16px 0px rgba(0, 0, 0, 0.20)";
  --drop-shadow-soft-lg: "0px 4px 16px 0px rgba(0, 0, 0, 0.20)";
  --color-text-body: #333333;
  --color-text-hover: #0e380e;
  --color-text-action: #145314;
  --color-icon-primary: var(--color-text-body);
  --color-icon-action-hover: var(--color-text-hover);
  --color-border-focus: var(--color-text-action);
  --color-button-primary: var(--color-text-hover);
  --color-button-hover: #071c07;
  --color-button-disable: #cccccc;
  --color-text-on-action: var(--color-surface_primary);
  --color-text-on-disabled: #4d4d4d;
  --text-2.5xl: 28px;
  --color-border-primary: #b3b3b3;
  --color-text-disable: #999999;
  --color-border-disabled: var(--color-text-disable);
  --color-border-hover: #1b6f1b;
  --color-success: #228b22;
  --color-border-hover:var(--color-success)
  --color-text-heading: #1a1a1a;
  --color-text-error: #661e1e;
  --color-surface-disable: var(--color-button-disable);
  --color-surface-action: #0e380e;
}

/* Hide default Swiper arrows */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Left Arrow */
.swiper-button-prev {
  background-image: url("/images/FiChevronLeft.svg") !important;
}

/* Right Arrow */
.swiper-button-next {
  background-image: url("/images/FiChevronRight.svg") !important;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0e380e;
}

#range-slider-yellow .range-slider__range {
  background: #228b22;
  transition: height 0.3s;
}
#range-slider-yellow .range-slider__thumb {
  background: #228b22;
  transition: transform 0.3s;
}